<web-app>
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>net.safedata.spring.training.d01.FirstServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/firstServlet</url-pattern>
    </servlet-mapping>
</web-app>